Grey = rgba(150,150,150,1)
// GreyLight = #DCDCDC
GreyLight = #F0F2F5
GreyDark = #3E3E3E
Yellow = #F8F2AB
Green = #BFD841
Red = darken(#FF4E51, 20)
White = #FFFFFF
Blue = #00ADA7

Primary = #2C3747
PrimaryButton = #96D9FF


/** 
 * Navbar
 */

.navbar-default
    background-color Primary
    min-height 60px
    border none
    padding-top 5px
    font-size 17px
    .navbar-brand
        color white
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus
    background-color: lighten(Primary,10)
    color white
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus 
	background-color: lighten(Primary,10)
	color white
.navbar-default .navbar-nav>li>a
    color white
.navbar-brand    
    font-size 20px

@font-face
	font-family "museo"
	src url("../fonts/MuseoSans-300.otf")

.Green
	color Green
/**
 * Border radius automated.
 */
border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	border-radius arguments

box-shadow()
    -webkit-box-shadow: arguments
    -moz-box-shadow: arguments
    box-shadow: arguments

body
	overflow-x hidden
	font-family museo
html, body{ height: 100%; }
.greyBackground
	background-color white
.btn
	border-radius(1px)
	border none
	margin-left 2px
.btn-wide
	width 100%
.btn-primary
	background-color PrimaryButton
.btn-dark
	background-color Primary
	color white
	&:hover
		background-color lighten(Primary,20)
		color white
.form-control, .input-group-addon
 	border-radius(1px)
.form-control:focus{
	border-color:Primary;
	outline:0;
	-webkit-box-shadow: none !important;
	box-shadow:none !important
}

#login-form input {
  margin-top: 20px;
  height: 50px;
  font-size: 1.6em;
}
#registration-form input {
  margin-top: 20px;
  height: 50px;
  width: 100%;
  font-size: 1.6em;
}
.container
	width 1000px

/*
----------------------------------------------Overview Page --------------------------------
 */
.header
	background-color GreyLight
	padding 10px
	padding-left 20px
	font-size 18px
	border 1px solid lighten(Grey, 20)
	color GreyDark
.listContainer
	.item
		padding 10px
		padding-left 20px
		padding-right 20px
		font-size 15px
		border 1px solid lighten(Grey, 20)
		border-top  none
		min-height 60px
		color Primary
		display: block
		&:hover
			background-color lighten(Grey, 30)
	a
		color black
		
	.btn
		color white
	.btns
		padding-left 54px
	.delBtn
		padding-left 30px
.infoBox
	background-color Primary
	padding 20px
	color white
	min-height 100px
.overviewSideBar
	border-right 1px solid lighten(Grey, 20)
/*
---------------------------------------------- Mindmap Page ---------------------------------
 */
#mmCtrl
	overflow hidden
	height 100%


.memContainer
	border-bottom 1px solid lighten(Grey, 10)
	// padding-bottom 10px
	margin-bottom 20px
.mindmapBar
	background-color GreyLight
	color black
	overflow auto
	height: 100%
	padding-right 30px
	border-left 1px solid lighten(Grey, 10)
	display block
	.inner
		height 100%
		overflow-y hidden
.helpContainer
	container()
	width 200px
	z-index 1005
	position relative
.iframeMindMap
	width 100%
	padding 0
	margin 0
	min-height:600px
	overflow-x:hidden
	border 1px solid GreyLight
.savebutton-normal
	background-color: white
	border 0px
.savebutton-saved
	background-color: Green
	border 0px
.savebutton-unsaved
	background-color: Primary
	color white
	border 0px
.savebutton-unsaved:hover
	background-color: lighten(Primary,10)
	color white

.question
	float: none;
	margin-left: auto;
	margin-right: auto;
	font-size 25px

.wcontainer
	background-color white
	height auto
	padding 20px
	margin 10px
	box-shadow( 0px 4px 10px rgba(0,0,0,0.2) )
.redactor_editor, .redactor_editor:focus
	min-height 33px !important
/*
	---------------------------------- Frontend mindmap -------------------------
 */
.mindmap .node-caption:hover {
  border: 2px dotted GreyLight;
  padding: 2px;
}

.mindmap .node-caption.selected {
  border: 2px solid GreyLight;
  padding: 2px;
  z-index: 1000;
}

.mindmap .node-caption.edit {
  border: 2px solid Primary;
}

.mindmap .node-caption.root {
  cursor: default;
  background: white;
  border: 2px solid GreyLight;
  border-radius: 0px;
  left: -50px;
  position: absolute;
  padding: 4px;
}

.mindmap .node-caption.root.selected {
  border-color: GreyLight;
  height: 80px;
}

.mindmap .node-caption.root.edit {
  border-color: Primary
}
/*
	---------------------------------- Practice page -------------------------
 */

.questionContainer
	background-color white
	height auto
	min-height 300px
	padding 20px
	padding-left 40px
	padding-right 40px
	border-radius(1px)
	margin-top 40px

.writeStatedAnswer
	background-color white
	min-height 70px
	padding 20px
	margin 20px
	border-right 1px solid Grey
.writeAnswer
	background-color white
	min-height 70px
	padding 20px
.practiceBackground
	background-color:lighten(Primary, 10)
	height:100%;
/*-----------------------------------------------------------------------------------*/
/*  PARALAX
/*-----------------------------------------------------------------------------------*/
.parallax {
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    min-height: 400px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    background-attachment: fixed;
    background-position: 50% 0;
    background-repeat: no-repeat;
    border-bottom 5px solid GreyDark
}
.parallax .inner {
    padding: 0;
}

.parallax.mobile {
    background-attachment: scroll !important;
}

.parallax h1 {
    color: #ededed;
    font-weight: 900;
    font-size: 60px;
    line-height: 60px;
    display: block;
    margin-bottom: 50px;
}

.header-text
	color white
	background-color rgba(0,0,0,0.4)
	padding 20px
.index-icon
	font-size: 70px
	color: Primary