/** 
 * Navbar
 */
.navbar-default {
  background-color: #2c3747;
  min-height: 60px;
  border: none;
  padding-top: 5px;
  font-size: 17px;
}
.navbar-default .navbar-brand {
  color: #fff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  background-color: #404f66;
  color: #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: #404f66;
  color: #fff;
}
.navbar-default .navbar-nav>li>a {
  color: #fff;
}
.navbar-brand {
  font-size: 20px;
}
@font-face {
  font-family: "museo";
  src: url("../fonts/MuseoSans-300.otf");
}
.Green {
  color: #bfd841;
}
/**
 * Border radius automated.
 */
body {
  overflow-x: hidden;
  font-family: museo;
}
html,
body {
  height: 100%;
}
.greyBackground {
  background-color: #fff;
}
.btn {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  border: none;
  margin-left: 2px;
}
.btn-wide {
  width: 100%;
}
.btn-primary {
  background-color: #96d9ff;
}
.btn-dark {
  background-color: #2c3747;
  color: #fff;
}
.btn-dark:hover {
  background-color: #536886;
  color: #fff;
}
.form-control,
.input-group-addon {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
.form-control:focus {
  border-color: #2c3747;
  outline: 0;
  -webkit-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
#login-form input {
  margin-top: 20px;
  height: 50px;
  font-size: 1.6em;
}
#registration-form input {
  margin-top: 20px;
  height: 50px;
  width: 100%;
  font-size: 1.6em;
}
.container {
  width: 1000px;
}
/*
----------------------------------------------Overview Page --------------------------------
 */
.header {
  background-color: #f0f2f5;
  padding: 10px;
  padding-left: 20px;
  font-size: 18px;
  border: 1px solid #c9c9c9;
  color: #3e3e3e;
}
.listContainer .item {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
  border: 1px solid #c9c9c9;
  border-top: none;
  min-height: 60px;
  color: #2c3747;
  display: block;
}
.listContainer .item:hover {
  background-color: #e3e3e3;
}
.listContainer a {
  color: #000;
}
.listContainer .btn {
  color: #fff;
}
.listContainer .btns {
  padding-left: 54px;
}
.listContainer .delBtn {
  padding-left: 30px;
}
.infoBox {
  background-color: #2c3747;
  padding: 20px;
  color: #fff;
  min-height: 100px;
}
.overviewSideBar {
  border-right: 1px solid #c9c9c9;
}
/*
---------------------------------------------- Mindmap Page ---------------------------------
 */
#mmCtrl {
  overflow: hidden;
  height: 100%;
}
.memContainer {
  border-bottom: 1px solid #b0b0b0;
  margin-bottom: 20px;
}
.mindmapBar {
  background-color: #f0f2f5;
  color: #000;
  overflow: auto;
  height: 100%;
  padding-right: 30px;
  border-left: 1px solid #b0b0b0;
  display: block;
}
.mindmapBar .inner {
  height: 100%;
  overflow-y: hidden;
}
.helpContainer {
  width: 200px;
  z-index: 1005;
  position: relative;
}
.iframeMindMap {
  width: 100%;
  padding: 0;
  margin: 0;
  min-height: 600px;
  overflow-x: hidden;
  border: 1px solid #f0f2f5;
}
.savebutton-normal {
  background-color: #fff;
  border: 0px;
}
.savebutton-saved {
  background-color: #bfd841;
  border: 0px;
}
.savebutton-unsaved {
  background-color: #2c3747;
  color: #fff;
  border: 0px;
}
.savebutton-unsaved:hover {
  background-color: #404f66;
  color: #fff;
}
.question {
  float: none;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
}
.wcontainer {
  background-color: #fff;
  height: auto;
  padding: 20px;
  margin: 10px;
  -webkit-box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}
.redactor_editor,
.redactor_editor:focus {
  min-height: 33px !important;
}
/*
	---------------------------------- Frontend mindmap -------------------------
 */
.mindmap .node-caption:hover {
  border: 2px dotted #f0f2f5;
  padding: 2px;
}
.mindmap .node-caption.selected {
  border: 2px solid #f0f2f5;
  padding: 2px;
  z-index: 1000;
}
.mindmap .node-caption.edit {
  border: 2px solid #2c3747;
}
.mindmap .node-caption.root {
  cursor: default;
  background: #fff;
  border: 2px solid #f0f2f5;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  left: -50px;
  position: absolute;
  padding: 4px;
}
.mindmap .node-caption.root.selected {
  border-color: #f0f2f5;
  height: 80px;
}
.mindmap .node-caption.root.edit {
  border-color: #2c3747;
}
/*
	---------------------------------- Practice page -------------------------
 */
.questionContainer {
  background-color: #fff;
  height: auto;
  min-height: 300px;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  margin-top: 40px;
}
.writeStatedAnswer {
  background-color: #fff;
  min-height: 70px;
  padding: 20px;
  margin: 20px;
  border-right: 1px solid #969696;
}
.writeAnswer {
  background-color: #fff;
  min-height: 70px;
  padding: 20px;
}
.practiceBackground {
  background-color: #404f66;
  height: 100%;
}
/*-----------------------------------------------------------------------------------*/
/*  PARALAX
/*-----------------------------------------------------------------------------------*/
.parallax {
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  min-height: 400px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  background-attachment: fixed;
  background-position: 50% 0;
  background-repeat: no-repeat;
  border-bottom: 5px solid #3e3e3e;
}
.parallax .inner {
  padding: 0;
}
.parallax.mobile {
  background-attachment: scroll !important;
}
.parallax h1 {
  color: #ededed;
  font-weight: 900;
  font-size: 60px;
  line-height: 60px;
  display: block;
  margin-bottom: 50px;
}
.header-text {
  color: #fff;
  background-color: rgba(0,0,0,0.4);
  padding: 20px;
}
.index-icon {
  font-size: 70px;
  color: #2c3747;
}
