Grey = rgba(150,150,150,1)
// GreyLight = #DCDCDC
GreyLight = #F0F2F5
GreyDark = #3E3E3E
Yellow = #F8F2AB
Green = #BFD841
GreenDark = #369B38
Red = darken(#FF4E51, 20)
White = #FFFFFF
Blue = #00ADA7

Primary = #2C3747
PrimaryButton = #45B0E3 /*darken(#96D9FF,10)


/** 
 * Navbar
 */

.navbar-default
    background-color Primary
    min-height 60px
    border none
    padding-top 5px
    font-size 17px
    .navbar-brand
        color white
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus
    background-color: lighten(Primary,10)
    color white
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus 
	background-color: lighten(Primary,10)
	color white
.navbar-default .navbar-nav>li>a
    color white
.navbar-brand    
    font-size 20px
.nav-justified
	>li >a
		color white
		padding-top 10px
	>li >a:hover, >li > a:focus
		background-color: lighten(Primary,10)
		color white
@font-face
	font-family "museo"
	src url("../fonts/MuseoSans-300.otf")

@font-face
	font-family "nexa"
	src url("../fonts/Nexa Light.otf")
a:hover
	text-decoration none
.Green
	color Green
/**
 * Border radius automated.
 */
border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	border-radius arguments

box-shadow()
    -webkit-box-shadow: arguments
    -moz-box-shadow: arguments
    box-shadow: arguments

body
	overflow-x hidden
	font-family museo
	font-size 15px
html, body{ height: 100%; }

.greyBackground
	background-color white
.btn
	border-radius(1px)
	border none
	margin-left 2px
.btn-wide
	width 100%
.btn-primary
	background-color PrimaryButton
.btn-dark
	background-color Primary
	color white
	&:hover
		background-color lighten(Primary,20)
		color white
.form-control, .input-group-addon
 	border-radius(1px)
.form-control:focus{
	border-color:Primary;
	outline:0;
	-webkit-box-shadow: none !important;
	box-shadow:none !important
}
h1,h2,h3,h4,h5
	font-family museo
	font-weight 500
#login-form input {
  margin-top: 20px;
  height: 50px;
  font-size: 1.6em;
}
#registration-form input {
  margin-top: 20px;
  height: 50px;
  width: 100%;
  font-size: 1.6em;
}
.container
	width 1000px
.footer
	padding-top 20px
	height 60px
	background-color Primary
	color white
/*
----------------------------------------------Overview Page --------------------------------
 */
.header
	background-color GreyLight
	padding 10px
	padding-left 20px
	font-size 18px
	border 1px solid lighten(Grey, 20)
	color GreyDark
.listContainer
	.item
		padding 10px
		padding-left 20px
		padding-right 20px
		font-size 15px
		border 1px solid lighten(Grey, 20)
		border-top  none
		min-height 60px
		color Primary
		display: block
		&:hover
			background-color lighten(Grey, 30)
	a
		color black
		
	.btn
		color white
	.btns
		padding-left 54px
	.delBtn
		padding-left 30px
.infoBox
	background-color Primary
	padding 20px
	color white
	min-height 100px
.overviewSideBar
	border-right 1px solid lighten(Grey, 20)
/*
---------------------------------------------- Mindmap Page ---------------------------------
 */
#mmCtrl
	overflow hidden
	height 100%


.memContainer
	border-bottom 1px solid lighten(Grey, 10)
	// padding-bottom 10px
	margin-bottom 20px
.mindmapBar
	background-color GreyLight
	color black
	overflow auto
	height: 100%
	padding-right 30px
	border-left 1px solid lighten(Grey, 10)
	display block
	.inner
		height 100%
		overflow-y hidden
.helpContainer
	container()
	width 200px
	z-index 1005
	position relative
.iframeMindMap
	width 100%
	padding 0
	margin 0
	min-height:600px
	overflow-x:hidden
	border 1px solid GreyLight
.savebutton-normal
	background-color: white
	border 0px
.savebutton-saved
	background-color: Green
	border 0px
.savebutton-unsaved
	background-color: Primary
	color white
	border 0px
.savebutton-unsaved:hover
	background-color: lighten(Primary,10)
	color white

.question
	float: none;
	margin-left: auto;
	margin-right: auto;
	font-size 25px

.wcontainer
	background-color white
	height auto
	padding 20px
	margin 10px
	box-shadow( 0px 4px 10px rgba(0,0,0,0.2) )
.redactor_editor, .redactor_editor:focus
	min-height 33px !important
/*
	---------------------------------- Frontend mindmap -------------------------
 */
.mindmap .node-caption:hover {
  border: 2px dotted GreyLight;
  padding: 2px;
}

.mindmap .node-caption.selected {
  border: 2px solid GreyLight;
  padding: 2px;
  z-index: 1000;
}

.mindmap .node-caption.edit {
  border: 2px solid Primary;
}

.mindmap .node-caption.root {
  cursor: default;
  background: white;
  border: 2px solid GreyLight;
  border-radius: 0px;
  left: -50px;
  position: absolute;
  padding: 4px;
}

.mindmap .node-caption.root.selected {
  border-color: GreyLight;
  height: 80px;
}

.mindmap .node-caption.root.edit {
  border-color: Primary
}
/*
	---------------------------------- Practice page -------------------------
 */

.questionContainer
	background-color white
	height auto
	min-height 300px
	padding 20px
	padding-left 40px
	padding-right 40px
	border-radius(1px)
	margin-top 40px

.writeStatedAnswer
	background-color white
	min-height 70px
	padding 20px
	margin 20px
	border-right 1px solid Grey
.writeAnswer
	background-color white
	min-height 70px
	padding 20px
.practiceBackground
	background-color:lighten(Primary, 10)
	height:100%;
/*-----------------------------------------------------------------------------------*/
/*  PARALAX
/*-----------------------------------------------------------------------------------*/
.parallax {

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    min-height: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    background-attachment: fixed;
    background-position: 50% 0;
    background-repeat: no-repeat;
    margin-bottom -50px
    padding-top 70px
    background-image url("../images/clean5.jpg")
}
.parallax .inner {
    padding: 0;
}

.parallax.mobile {
    background-attachment: scroll !important;
}

.parallax h1 , h3{
    color: #ededed;
    // font-weight: 900;
    // font-size: 60px;

    display: block;
    margin-bottom: 10px;
    font-family nexa
}

.header-text
	color white
	background-color rgba(0,0,0,0.4)
	padding 20px
.index-icon
	color: GreenDark

/*
---------------------------------------------- SOCIAL BUTTONS -----------------------------------------
 */

@import url("http://fonts.googleapis.com/css?family=Oswald");


/* Facebook */
btnHeight = 60px
btnHeightm = btnHeight * -1
btnWidth = 250px
smlWidth = 60px
.fb-icon-bg 
	background: #354f88;
	height: btnHeight;
	margin: 0 0 btnHeightm 0;
	width: smlWidth; 
	i
		display:inline-block;
		font-size: 40px;
		line-height: btnHeight;
		color:white;
		width: btnHeight;
		height: btnHeight;
		text-align: center;
		vertical-align: bottom;
	    


.fb-bg {
	background: #3b5998;
	display: block;
	height: btnHeight;
	margin: 0 0 30px smlWidth;
	width: btnWidth; 
}

.fb-bg:after {
	color: #fff;
	content: "Sign in with facebook";
	font-family: museo 
	height: btnHeight;
	font-size 20px
	left: 2%;
	position: relative;
	top: 25%;
	width: smlWidth; 
}

.fb-bg:hover{
  cursor: pointer;
}

.fb-bg:active{
  background: #354f88;
}

/* Twitter */

.twi-icon-bg 
	background: #40a2d1;
	height: btnHeight;
	margin: 0 0 btnHeightm 0;
	width: smlWidth; 
	i
		display:inline-block;
		font-size: 40px;
		line-height: btnHeight;
		color:white;
		width: btnHeight;
		height: btnHeight;
		text-align: center;
		vertical-align: bottom;
	    
.twi-bg {
	background: #45b0e3;
	height: btnHeight;
	margin: 0 0 30px smlWidth;
	width: btnWidth; 
}
 
.twi-bg:after {
	color: #fff;
	content: "Sign in with twitter";
	font-family: museo 
	height: btnHeight;
	font-size 20px
	left: 2%;
	position: relative;
	top: 25%;
	width: smlWidth; 
}

.twi-bg:hover {
  cursor: pointer;
}

.twi-bg:active {
  background: #40a2d1;
}

/* Google+ */

.g-icon-bg 
	background: GreenDark;
	height: btnHeight;
	margin: 0 0 btnHeightm 0;
	width: smlWidth; 
	i
		display:inline-block;
		font-size: 40px;
		line-height: btnHeight;
		color:white;
		width: btnHeight;
		height: btnHeight;
		text-align: center;
		vertical-align: bottom;
	    
 
.g-bg {
	background: lighten(GreenDark,7);
	height: btnHeight;
	margin-left: smlWidth;
	width: btnWidth; 
}
 
.g-bg:after {
	color: #fff;
	content: "Sign in with google";
	font-family: museo 
	height: btnHeight;
	font-size 20px
	left: 2%;
	position: relative;
	top: 25%;
	width: smlWidth; 
}

.g-bg:hover {
  cursor: pointer;
}

.g-bg:active {
  background: #ce3e26;
}
